body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.product-details {
  background-color: #4d4d4d;
  color: #fff;
  padding: 0.1rem;
  text-align: left;
}
.product-details h1 {
  margin-left: 1.25rem;
}
.product-container {
  display: flex;
  gap: 1.25rem;
  padding: 1.25rem;
}

.carousel {
  flex: 1;
  max-width: 31.25rem;
}

.main-image {
  position: relative;
  touch-action: pan-y;
}

.main-image img {
  width: 100%;
  height: 50vh;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  border: none;
  padding: 0.625rem;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 1px 1px;
}

.left-arrow {
  left: 0.625rem;
}

.right-arrow {
  right: 0.625rem;
}

.thumbnails {
  display: flex;
  gap: 0.625rem;
  margin-top: 0.625rem;
}

.thumbnails img {
  width: 3.75rem;
  height: 3.75rem;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.65);
}

.thumbnails img.active {
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-color: #007bff;
}

.product-info {
  flex: 1;
  max-width: 25rem;
}
#product-price {
  font-weight: bold;
  font-size: 1.25rem;
  font-style: italic;
  margin-bottom: 0.625rem;
}

.variant-selector,
.quantity-selector {
  margin: 1.25rem 0;
}

.variant-selector label,
.quantity-selector label {
  font-size: 1rem;
  margin-right: 0.625rem;
}

.variant-selector select {
  padding: 0.5rem;
  font-size: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.variant-selector select:hover {
  border-color: #007bff;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls input {
  width: 1.75rem;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 0.3125rem;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity-controls button {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: #f8f9fa;
  cursor: pointer;
}

.quantity-controls button:hover {
  background-color: #e9ecef;
}

.quantity-controls button:active {
  background-color: #dee2e6;
}

#add-to-cart {
  background: #ffd814;
  color: rgb(0, 0, 0);
  border: 1px solid #ffd814;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 5px;
}

#confirmation-message {
  color: green;
  margin-top: 0.625rem;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
  }

  .thumbnails {
    flex-wrap: wrap;
  }

  .thumbnails img {
    width: 3.25rem;
    height: 3.25rem;
  }
}
